parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$fileIdentifier of method TYPO3\\CMS\\Core\\Resource\\Driver\\AbstractHierarchicalFilesystemDriver\:\:canonicalizeAndCheckFileIdentifier\(\) expects non\-empty\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Driver/FTPDriver.php
